 <!-- marketing -->
  <div id="marketing">
   
   <%= render "pages/marketing" %>
  </div>
  <!-- fecha marketing -->
  <div id="page">
    <div class="5grid-layout">
      <div class="row">
        <div class="6u">
          <div class="mobileUI-main-content" id="content">
            <section>
              <div class="post">
                <% if @post_noticias.present? %>

                <% @post_noticias.posts.limit(1).each do |p| %>

                <h2><%= p.titulo %></h2>
                <p class="subtitle"><%= p.descricao %></p>
                <p><%= textilize p.body %> 
                 </p>
                <p class="button-style2"><%= link_to post_path(p) do %>
                  Leia mais <% end %>
                </p>
                <% end %>
                <% end %>
              </div>
            </section>
          </div>
        </div>
        <div class="3u" id="sidebar1">
         <%= render "pages/sidebar" %>
        </div>
        <div class="3u">
          <div id="sidebar2">
            <%= render "pages/sidebar2" %>
          </div>
        </div>
      </div>
    </div>
  </div>