<!-- marketing -->
<div id="marketing">

<%= render "pages/marketing" %>
</div>
<!-- fecha marketing -->
<div id="page">
<div class="5grid-layout">
<div class="row">
<div class="6u">
<div class="mobileUI-main-content" id="content">
    <section>
    <div class="post">
    <div> <%= flash_messages %></div>

    <h2>Envie seu Contato</h2>


    <%= form_for(@contact) do |f| %>
    <%= error_messages_for @contact %>

    <p>
    <label>Nome</label>
    <br>
    <%= f.text_field :nome, :placeholder => "Nome do contato" %>

    </p>

    <p>
    <label>E-mail</label>
    <br>
    <%= f.text_field :email, :placeholder => "Digite e-mail do contato" %>
    </p>

    <p>
    <label>Cidade</label>
    <br>
    <%= f.text_field :cidade, :placeholder => "Digite a cidade" %>
    </p>

    <p>
    <label>Assunto</label>
    <br>
    <%= f.text_field :assunto, :placeholder => "Digite o assunto",:size => 50 %>
    </p>
    <p>
    <label>Conteúdo</label><br>
    <%= f.text_area :conteudo, :cols => 70, :rows => 6, :placeholder => "Digite o conteúdo " %>
    </p>
    <p> <%= f.captcha %></p>
    <div class="actions">
    <%= f.submit %>
    </div>
    <% end %>




    <p class="button-style2"><%= link_to pages_path do %>

    Voltar
 <% end %>
</p>


    </div>
    </section>
</div>
</div>
<div class="3u" id="sidebar1">
  <%= render "pages/sidebar" %>
</div>
<div class="3u">
<div id="sidebar2">
  <%= render "pages/sidebar2" %>

</div>
</div>
</div>
</div>
</div>



