<!-- Main -->
<div id="main">
<div class="cl">&nbsp;</div>

<!-- Content -->
<div id="content">    


<!-- Box -->
<div class="box">
<!-- Box Head -->
<div class="box-head">
<h2>Cadastro de categoria fotos</h2>
</div>
<!-- End Box Head --><!-- Form -->
<div class="form">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

   <p>
<div class="buttons">
<%= f.submit "Sign in" %>
   or <%= link_to "forgot your password?", new_password_path(resource_name) %>
  
</div>
</p>
<% end %>

</div>
<!-- End Form -->

</div>
<!-- End Box -->

</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">



</div>
<!-- End Sidebar -->

<div class="cl">&nbsp;</div>      
</div>
<!-- Main -->






      