

<div id="page">
<div class="5grid-layout">
<div class="row">
<div class="3u" id="sidebar2">
<%= render 'pages/sidebar' %>
</div>
<div class="9u mobileUI-main-content" id="content">
<section>
<div class="post">
<h2>Galeria de Fotos dos Shows</h2>


	<% @gallery.each do |g| %>
			<div class="3u">
			<section>     

			<a href="<%= image_path g.avatar.url(:small) %>" rel="lightbox[roadtrip]" title="<%= g.titulo %> "> 
		    <%= image_tag g.avatar.url(:thumb), :size => "150x125" %></a>

			</section>

			</div>
	<% end %>






</div>

</section>

	

</div>
<%= will_paginate @gallery %>
	

</div>
</div>
</div>


