

<div id="page">
<div class="5grid-layout">
<div class="row">
<div class="3u" id="sidebar2">
<%= render 'pages/sidebar' %>
</div>

<div >

	<% @gallery.each do |g| %>		   

			<a href="<%= image_path g.avatar.url(:original) %>" rel="lightbox[roadtrip]" title="<%= g.titulo %> "> 
		    <%= image_tag g.avatar.url(:thumb) %></a>		

		
	<% end %>	

</div>

<!-- Pagging -->
<div class="pagging">       

      <%= will_paginate @gallery %>   
</div>
<!-- End Pagging -->

	

</div>
</div>
</div>


