<div class="row">
    <div id="banner" class="12u">
      <div class="container">     


   
     
      <div id="slides">
        <div class="slides_container">
          <a href="http://www.eboxbrasil.com.br"> <%= image_tag "slide-1.jpg", :title => "Veja nossa galeria de imagens" %></a>
          <%= link_to pages_path do %>
           <%= image_tag "pics01.jpg" %>
           <% end %>
             <a href="http://www.eboxbrasil.com.br"> <%= image_tag "nemo.jpg" %></a>
               <a href="http://www.eboxbrasil.com.br"> <%= image_tag "slide-2.jpg" %></a>
         
        </div>
      
      </div>
   
   
   





      </div>
    </div>
  </div>

  