<!DOCTYPE html>
<html>
<head>
  <title>Banda Xote7 - Forro da Gota</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %> 
  <%= favicon_link_tag 'favicon_atual.ico' %>
  <%= csrf_meta_tags %>

  <!--slide -->
  <script>
    $(function(){
      $('#slides').slides({
        preload: true,
        play: 5000,
        pause: 2500,
        hoverPause: true
      });
    });
  </script>

<!--fecha slide -->
</head>

<body class="homepage">
<div id="header-wrapper">
  <header id="header">
    <%= render 'layouts/menu' %>
  </header>
</div>
<!-- slide e banner rotativo-->
<div class="5grid-layout">
  
<%= render "layouts/slide" %>

</div>
<!-- fecha slide e banner rotativo-->
<!--conteudo dinamico  -->
<div id="wrapper">

<%= yield %>


</div>
<!--fecha conteudo dinamico  -->
<!-- bloco de faturamento publicidade-->
<div id="featured-area">
 
 <%= render "layouts/featured_area" %>
</div>
<!-- fecha faturamento publicidade--> 
<!-- bloco footer -->
<div id="footer-wrapper">

<%= render "layouts/footer" %>

</div>
<!-- fecha bloco footer-->
<div>
  <div class="5grid-layout" id="copyright">
    <div class="row">
      <div class="12u">
        <p>&copy; Your Site Name | Images: <a href="http://www.eboxbrasil.com.br" target="_blank">Fotogrph</a> | Design: <a href="http://www.eboxbrasil.com.br" target="_blank">eboxbrasil.com.br</a></p>
      </div>
    </div>
  </div>
</div>
</body>



</html>
