<!DOCTYPE html>
<html>
<head>
  <title>Banda Xote7 - Forro da Gota</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %> 
   <%= javascript_include_tag "slides.min.jquery" %> 
    <%= javascript_include_tag "slides.jquery" %> 
       <%= javascript_include_tag "audio.min" %> 


  <%= favicon_link_tag 'favicon_atual.ico' %>
  <%= csrf_meta_tags %>

  <!--slide -->
   <script type="text/javascript">
    $(function(){
      $('#slides').slides({
        preload: true,
        preloadImage: '<%= image_tag "loading.gif" %>',
        play: 5000,
        pause: 2500,
        hoverPause: true
      });
    });
  </script>

<!--fecha slide -->

<!--play de audio -->

   <script>
      $(function() { 
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ul li.playing').next();
            if (!next.length) next = $('ul li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        
        // Load in the first track
        var audio = a[0];
            first = $('ul a').attr('data-src');
        $('ul li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ul li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
          if (unicode == 39) {
            var next = $('li.playing').next();
            if (!next.length) next = $('ul li').first();
            next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ul li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
    </script>
<!--fecha play de audio -->






</head>

<body class="homepage">
<div id="header-wrapper">
  <header id="header">
    <%= render 'layouts/menu' %>
  </header>
</div>
<!-- slide e banner rotativo-->
<div class="5grid-layout">
  
<%= render "layouts/slide" %>

</div>
<!-- fecha slide e banner rotativo-->
<!--conteudo dinamico  -->
<div id="wrapper">

<%= yield %>


</div>
<!--fecha conteudo dinamico  -->
<!-- bloco de faturamento publicidade-->
<div id="featured-area">
 
 <%= render "layouts/featured_area" %>
</div>
<!-- fecha faturamento publicidade--> 
<!-- bloco footer -->
<div id="footer-wrapper">

<%= render "layouts/footer" %>

</div>
<!-- fecha bloco footer-->
<div>
  <div class="5grid-layout" id="copyright">
    <div class="row">
      <div class="12u">
        <p>&copy; Your Site Name | Images: <a href="http://www.eboxbrasil.com.br" target="_blank">Fotogrph</a> | Design: <a href="http://www.eboxbrasil.com.br" target="_blank">eboxbrasil.com.br</a></p>
      </div>
    </div>
  </div>
</div>
</body>



</html>
